<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap-resources/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-resources/stylesheets/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='/web-pages/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/web-pages/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/web-pages/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/web-pages/fullcalendar/list/main.css' rel='stylesheet' />
    <link href='/web-pages/fullcalendar/bootstrap/main.css' rel='stylesheet' />

    <style>
        .navbar-nav>.nav-item {
            color: white;
            margin-left: 10px;
            margin-right: 5px;
        }

        .navbar ul.nav li.open>a.get-started-btn {
            color: #fff;
            background: white;
        }

        /* change the brand and text color */
        .navbar .navbar-brand,
        .navbar .navbar-text {
            color: white;
        }

        /* change the link color */
        .navbar-nav .nav-item .nav-link {
            color: white;
        }

        /* change the color of active or hovered links */
        .navbar-nav .nav-item.active .nav-link,
        .navbar-nav .nav-item:hover .nav-link {
            color: white;

        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px
        }

        #profile-section {
            width: 280px;
            padding: 20px;
            left: auto;
            right: 0;
        }

        p {
            font-size: medium;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
            <img src="/image-assets/ticket.png" width="60" height="60" class="d-inline-block align-top" alt="">
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" class="active" href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Events</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Concerts</a>
                            <a class="dropdown-item" href="#">Theatre</a>
                            <a class="dropdown-item" href="#">Dance</a>
                            <a class="dropdown-item" href="#">Stand-up Comedy</a>
                            <a class="dropdown-item" href="#">Opera/Ballet</a>
                            <a class="dropdown-item" href="#">Musical</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">
                            <i class="fa fa-fw fa-user"></i> Profile </a>
                        <div class="dropdown-menu" id="profile-section" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/profile"><i class="fa fa-fw fa-user"></i> My Profile</a>
                            <a class="dropdown-item" href="#">Events</a>
                            <a class="dropdown-item" href="#">My tickets</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
                    </li>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        <!-- Page Content -->
        <div class="container" style="margin-top: 45px;">
            <div class="row" style="width: 100%;">
                <div class="col" style="margin-top: 10px;
                                            margin-bottom: 10px;">
                    <div style="background-color:#26466D; padding: 20px;">
                        <h1 style=" margin: 15px; color: white;"><%= eTitle %></h1>
                        <p style=" margin: 15px; color: #fff;"><%= eDetail%></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src=" <%=eImagePath %>" height="252" width="452" style="margin-top: 20px;">
                        </div>
                        <div class="col-md-6">
                            <br>
                            <p><b>Venue:</b> <%= venuename%> </p>
                            <p><b>Date:</b>  <%= eDate%></p>
                            <p> <b>Time:</b> <%= eTime%></p>
                            <p><b>Address:</b> <%=venue.address%></p>
                            <br>
                            <div name="modal">
                                <!--Modal pop up button-->
                                <button type=" button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalCenter"
                                    style="margin-bottom: 20px; height: 45px; width:180px; background-color: #26466D; border-color: #fff;">
                                    Get ticket
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="exampleModalCenterTitle"><%= eTitle %></h3>
                                            </div>
                                            <div class="modal-body">
                                                <img src="<%= eImagePath%>" width="100%">
                                                <br></br>
                                                <p><%= eDetail %></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <a onclick="func();" type="button" class="btn btn-primary"
                                                    style="background-color: #0d5abe;color: #fff;">
                                                    Proceed to payment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Available Categories:</h4>
                            <ul>
                                <% for (var i = 0; i < categories.length ; i++) { %>
                                <li><b> <%= categories[i].categoryname %> : </b> <%= categories[i].price %> TL </li>
                                <% } %>
                            </ul>
                            <br>
                            <a href="<%=seatingplan%>"><img id="myImg" src="<%=seatingplan%>" alt="Seating Plan"
                                    height="300" width="500" style="margin-top: 20px;"></a>

                        </div>
                        <div class="col-md-6">
                            <br>
                            <br>
                            <div id="calendar" style="width: 75%;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <script src="/bootstrap-resources/js/jquery.min.js"></script>
        <script src="/bootstrap-resources/js/popper.min.js"></script>
        <script src="/bootstrap-resources/js/bootstrap.min.js"></script>

        <script>
            function func() {
                var uId = "<%= uId %>";
                var eId = "<%= eId %>";
                console.log(eId);
                console.log(uId);
                window.location.href = "/ticketPurchasePage?uid=" + uId + "&eid=" + eId;
            }
        </script>

        <script src='/web-pages/fullcalendar/core/main.js'></script>
        <script src='/web-pages/fullcalendar/daygrid/main.js'></script>
        <script src='/web-pages/fullcalendar/timegrid/main.js'></script>
        <script src='/web-pages/fullcalendar/list/main.js'></script>
        <script src='/web-pages/fullcalendar/bootstrap/main.js'></script>
        <script>
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'list', 'bootstrap'],
                themesystem: 'bootstrap',
                height: 500,
                eventLimit: true,
                displayEventTime: false,

                eventRender: function (info) {
                    $(info.el).tooltip({
                        title: 'In: ' + info.event.extendedProps.city,
                        placement: "top",
                        trigger: "hover",
                        container: "body"
                    });
                },
                eventSources: [
                    {
                        url: '/api/calendarevents',
                        type: 'GET',
                        error: function () {
                            alert('there was an error while fetching events!');
                        },
                        color: 'green',   // a non-ajax option
                        textColor: 'black' // a non-ajax option


                    }]
            });

            calendar.render();

        </script>
</body>

</html>